
<%= simple_form_for [@rental] do |f| %>  <!--  not sure about the syntax here -->
  <div class="form-group">
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :status %>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
