

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "ps4_background.jpg" %>');">
    <div class="container">
      <h1>Welcome to GAMEBUST!</h1>
      <p>The best place to find new games without paying for a new game</p>
    </div>
  </div>
<br>
<div class="container">

  <div class="home-card-trip">
    <div class="banner-text">
      <h2>Find your next favourite game from our amazing catalog</h2>
      <p>Play whenever you want and exchange games easily</p>
      <%= link_to "See popular games", games_path, class: "btn btn-secondary"%>
    </div>
  </div>

  <h1 class="headers">Search by Console</h1>

  <div class="cards">
    <%= link_to "/games?query=playstation" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "ps4_play.jpg" %>')">
        Playstation
      </div>
    <% end %>

    <%= link_to "/games?query=nintendo" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "switch_contollers.jpg" %>')">
        Nintendo
      </div>
    <% end %>

    <%= link_to "/games?query=xbox" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "xbox1.jpg" %>')">
        Xbox
      </div>
    <% end %>
  </div>

  <h1 class="headers">Search by Category</h1>

  <div class="cards">
    <%= link_to "/games?query=first+person" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "first-person.jpg" %>')">
        First Person
      </div>
    <% end %>

    <%= link_to "/games?query=action" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "action-adventure.jpg" %>')">
        Action
      </div>
    <% end %>

    <%= link_to "/games?query=real+time" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "real-time.jpg" %>')">
        Real Time
      </div>
    <% end %>

    <%= link_to "/games?query=role+playing" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "role-playing.png" %>')">
        Role Playing
      </div>
    <% end %>

    <%= link_to "/games?query=shooter" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "shooter.jpg" %>')">
        Shooter
      </div>
    <% end %>

    <%= link_to "/games?query=sports" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "sports.jpg" %>')">
        Sports
      </div>
    <% end %>

    <%= link_to "/games?query=strategy" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "strategy.jpg" %>')">
        Strategy
      </div>
    <% end %>

    <%= link_to "/games?query=survival" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "survival.jpg" %>')">
        Survival
      </div>
    <% end %>

  </div>

  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "pokemon_game.jpg", class: "d-block w-100", alt: "pokemon game"%>
      </div>
      <div class="carousel-item">
        <%= image_tag "samourai_showdown.jpg", class: "d-block w-100", alt: "samourai showdown"%>
      </div>
      <div class="carousel-item">
        <%= image_tag "nhl20-ps4.jpg", class: "d-block w-100", alt: "samourai showdown"%>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>
