<div class="container">
  <div class="d-flex">
    <div>
      <% if @game.photo.attached? %>
          <%= cl_image_tag @game.photo.key, height: 200, width: 200, crop: :fill, class: "card-img"%>
      <% end %>
    </div>

    <div>
      <h2><%= @game.title %></h2>
      <p><strong>Description: </strong><%= @game.description %></p>
      <p><strong>Price: </strong><%= @game.price %></p>
      <p><strong>Console: </strong><%= @game.console %></p>
      <p><strong>Category: </strong><%= @game.category %></p>
     </div>

  </div>
  <%= link_to "Edit this game", edit_game_path %>
  <br>
  <%= link_to "See popular games", games_path %>
  <br>
  <%= link_to "Rent this game", new_game_rental_path(@game.id) %>
</div>
