<div class="container">
<<<<<<< HEAD
  <div class="show shadow">
=======
  <div class="show-card shadow">
>>>>>>> c357e35c312dfa4fdc0627ffabe35b3dfc3986a8
    <h2 class="font-weight-bold"><%= @game.title %></h2>
    <div class="d-flex info">
      <div>
        <% if @game.photo.attached? %>
            <%= cl_image_tag @game.photo.key, height: 200, width: 200, crop: :fill, class: "show-img shadow"%>
        <% end %>
      </div>


      <div class="show-info">

        <h4 class="price"><strong>Price: </strong>   $<%= @game.price %></h4>
        <p><strong>Console: </strong><%= @game.console %></p>
        <p class="cat"><strong>Category: </strong><%= @game.category %></p>
        <p><strong>Description: </strong><%= @game.description %></p>
      </div>
      <div class="d-flex flex-column">
        <div>
          <%= link_to "Rent me", new_game_rental_path(@game.id), class: "btn btn-danger btn-lg shadow" %>
        </div>
        <div>
          <% @game.rentals.each do |rental| %>
            <% if rental.status == "approved" %>
              <button type="button" class="btn btn-secondary btn-lg disabled shadow" disabled>Already Rented!</button>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
      <div class="d-flex">
        <div>
          <% if policy(@game).edit?%>
<<<<<<< HEAD
            <%= link_to "Edit this game", edit_game_path, class: "btn btn-outline-danger" %>
=======
            <%= link_to "Edit me", edit_game_path, class: "btn btn-outline-danger" %>
>>>>>>> c357e35c312dfa4fdc0627ffabe35b3dfc3986a8
          <% end %>
        </div>
        <div>
          <% if policy(@game).destroy?%>
            <%= link_to "Delete #{@game.title}",
                    game_path(@game),
                    method: :delete,
                    data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
           <% end %>
         </div>
     </div>
  </div>

  </br>
  <%= link_to "See popular games", games_path, class: "btn btn-dark" %>
</div>

