<div class="container">
  <h2><%= @game.title %></h2>
  <p>Description: <%= @game.description %></p>
  <p>Price: <%= @game.price %></p>
  <p>Console: <%= @game.console %></p>
  <p>Category: <%= @game.category %></p>

  <% if @game.photo.attached? %>
      <%= cl_image_tag @game.photo.key, height: 200, width: 200, crop: :fill, class: "card-img"%>
  <% end %>
  <br>
  <%= link_to "See popular games", games_path %>
  <br>
  <%= link_to "Rent this game", new_game_rental_path(@game.id) %>
</div>
